<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>MDT Al-Harus</title>

    <!-- favicon -->
    <link rel="shorcut icon" href="../ikon/favicon.ico" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Boostrap icons -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />

    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/guru.css" />
    <!-- navbar start -->
    <nav class="navbar">
      <a href="index.html" class="navbar-logo"
        ><img src="../img/logo-alharus.jpeg    " />MDT Al-Harus</a
      >

      <div class="navbar-nav">
        <a href="../index.html">Home</a>
        <div class="dropdown">
          <a href="#">Profil</a>
          <div class="dropdown-content">
            <a href="madrasah.html">Madrasah</a>
            <a href="guru.html">Guru</a>
            <a href="isma.html">ISMA</a>
          </div>
        </div>
        <a href="unggul.html">Program Unggulan</a>
        <a href="kegiatan.html">Kegiatan</a>
        <a href="fasilitas.html">Fasilitas</a>
      </div>

      <div class="navbar-extra">
        <img src="../img/logo-alharus.jpeg" />
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- Section Guru Start -->
    <section id="guru" class="guru">
      <h2>PROFIL GURU-GURU MADRASAH AL-HARUS</h2>
      <div style="overflow-y: auto">
        <table class="no-otomatis">
          <caption style="text-align: left">
            Data Guru Madrasah Diniyah Takmiliyah Al-Harus Tahun 2025
          </caption>
          <tr>
            <th>No</th>
            <th>Foto</th>
            <th>Nama Depan</th>
            <th>Mata Pelajaran</th>
            <th>jabatan</th>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Abdul Malik</td>
            <td>Qur'an Hadist</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Adel</td>
            <td></td>
            <td>Asisten Pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Astri Ananda Putri</td>
            <td></td>
            <td>Asisten Pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Astuti</td>
            <td>Qur'an Hadist</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Dandi</td>
            <td>bahasa Arab</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Denis Firmnsyah Ramadhan</td>
            <td>Qur'an Hadist</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Echa Karsana</td>
            <td></td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Ghiyats</td>
            <td>Bahasa Arab</td>
            <td>guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-ihsan.jpg" alt="Ihsan" />
            </td>
            <td>Ihsan Hamzah</td>
            <td></td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-zakky.jpg" alt="Zakky" />
            </td>
            <td>M.Zakky Fadlus S</td>
            <td>Aqidah Akhlak</td>
            <td>Wali Kelas</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Meiza</td>
            <td>Safinah</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-bramm.jpg" alt="bramm" />
            </td>
            <td>Mochammad Rafli</td>
            <td>Aqidah Akhlak</td>
            <td>Wali Kelas</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Muhammad Rifki</td>
            <td>Fiqih</td>
            <td>Guru Bidang Studi</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-adaud.jpg" alt="adaud" />
            </td>
            <td>Muhammad Daud Taufik Ridha S.E,</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Nurfauziah</td>
            <td>Sejarah kebudayaan Islam</td>
            <td>Wali kelas</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>H. Obar Sobarna</td>
            <td></td>
            <td>Asisten pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Ugun Gunawan</td>
            <td></td>
            <td>Asisten Pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Rhieke Mustikawati</td>
            <td></td>
            <td></td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Riki Aris Munandar</td>
            <td></td>
            <td>Asisten Pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td></td>
            <td>Rizal Saefudin</td>
            <td></td>
            <td>Asisten Pengajar</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-syahrul.jpg" alt="Syahrul" />
            </td>
            <td>Syahrul Ramadhan</td>
            <td>Sejarah Kebudayaan Gapleh</td>
            <td>Wali Kelas</td>
          </tr>
          <tr>
            <td style="text-align: center"></td>
            <td class="foto-guru">
              <img src="../img/guru-azyuber.jpg" alt="azyuber" />
            </td>
            <td>Asep Sopandi S.Kom.i</td>
            <td>fathul Izar</td>
            <td>Guru dari segala guru</td>
          </tr>
        </table>
      </div>
    </section>
    <!-- Section Guru End -->

    <!-- Awal Footer -->
    <footer>
      <div class="social">
        <a href="https://wa.me/62895810278118"
          ><i class="bi bi-whatsapp"></i
        ></a>
        <a href="https://www.instagram.com/mdt_alharus"
          ><i class="bi bi-instagram"></i
        ></a>
        <a href="https://www.youtube.com/@mdtal-harusofficial8981"
          ><i class="bi bi-youtube"></i
        ></a>
        <a href="https://www.tiktok.com/@madrasahalharus"
          ><i class="bi bi-tiktok"></i
        ></a>
      </div>
      <div class="links">
        <a href="../index.html">Home</a>
        <a href="profil.html">Profil</a>
        <a href="unggul.html">Program Unggulan</a>
        <a href="kegiatan.html">Kegiatan</a>
        <a href="fasilitas.html">Fasilitas</a>
      </div>
      <div class="credit">
        <p>Createrd By <a href="">Al-Harus</a>. | %copy; 2025.</p>
      </div>
    </footer>
    <!-- Akhir Footer -->

    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>
    <!-- JS -->
    <script src="../js/script.js"></script>
  </body>
</html>
