<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Al-Harus</title>

    <!-- favicon -->
    <link rel="shorcut icon" href="../ikon/favicon.ico" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/style.css" />
    <!-- navbar start -->
    <nav class="navbar">
      <a href="index.html" class="navbar-logo"
        ><img src="../img/logo-alharus.jpeg    " /> Al-Harus</a
      >

      <div class="navbar-nav">
        <a href="index.html">Home</a>
        <a href="profil.html">Profil</a>
        <a href="materi.html">Materi</a>
        <a href="kegiatan.html">Kegiatan</a>
        <a href="infak.html">Infak</a>
        <div class="dropdown">
          <a href="index.html" class="dropbtn">Organigram</a>
          <div class="dropdown-content">
            <a href="guru.html">Guru-Guru</a>
            <a href="isma.html">ISMA</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="index.html" class="dropbtn">PPDB</a>
          <div class="dropdown-content">
            <a href="ulang.html">Daftar Ulang</a>
            <a href="daftar.html">Daftar Santri Baru</a>
          </div>
        </div>
      </div>

      <div class="navbar-extra">
        <img src="../img/logo-isma.jpeg" />
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- navbar end -->
    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>
    <!-- JS -->
    <script src="../js/script.js"></script>
  </body>
</html>
