<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=, initial-scale=1.0" />
    <title>Al-Harus</title>

    <!-- favicon -->
    <link rel="shorcut icon" href="../ikon/favicon.ico" />

    <!-- fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,700;1,700&display=swap"
      rel="stylesheet"
    />

    <!-- Boostrap icons -->
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">


    <!-- Feather Icon -->
    <script src="https://unpkg.com/feather-icons"></script>
  </head>
  <body>
    <!-- CSS -->
    <link rel="stylesheet" href="../css/materi.css" />
    <!-- navbar start -->
    <nav class="navbar">
      <a href="index.html" class="navbar-logo"><img src="../img/logo-alharus.jpeg    " /> Al-Harus</a>

      <div class="navbar-nav">
        <a href="index.html">Home</a>
        <a href="profil.html">Profil</a>
        <a href="materi.html">Materi</a>
        <a href="kegiatan.html">Kegiatan</a>
        <a href="infak.html">Infak</a>
        <div class="dropdown">
          <a href="#" class="dropbtn">Organigram</a>
          <div class="dropdown-content">
            <a href="guru.html">Guru-Guru</a>
            <a href="isma.html">ISMA</a>
          </div>
        </div>
        <div class="dropdown">
          <a href="#" class="dropbtn">PPDB</a>
          <div class="dropdown-content">
            <a href="ulang.html">Daftar Ulang</a>
            <a href="daftar.html">Daftar Santri Baru</a>
          </div>
        </div>
      </div>

      <div class="navbar-extra">
        <img src="../img/logo-alharus.jpeg" />
        <a href="#" id="menu"><i data-feather="menu"></i></a>
      </div>
    </nav>
    <!-- navbar end -->

    <!-- Awal Section Materi -->
     <section class="materi" id="materi">
      <h2>MATERI</h2>
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis, asperiores.</p>

      <div class="row">
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="quran" class="materi-quran-img">
          <h3 class="materi-judul" >Pelajaran Quran</h3>
          <p class="materi-deskripsi">Mendalami bacaan Al-Quran</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="hadist" class="materi-hadist-img">
          <h3 class="materi-judul" >Pelajaran Hadist</h3>
          <p class="materi-deskripsi">Menghafal Hadist</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="aqidah" class="materi-aqidah-img">
          <h3 class="materi-judul" >Pelajaran Aqidah</h3>
          <p class="materi-deskripsi">Mempraktekkan Aqidah yang diajarkan Rosulullah SAW</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="akhlak" class="materi-akhlak-img">
          <h3 class="materi-judul" >Pelajaran Akhlak</h3>
          <p class="materi-deskripsi">Meniru Akhlak Rosulullah SAW</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="ski" class="materi-ski-img">
          <h3 class="materi-judul" >Pelajaran SKI</h3>
          <p class="materi-deskripsi">Mengenal sejarah kebudayaan Islam</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="b.arab" class="materi-b.arab-img">
          <h3 class="materi-judul" >Pelajaran Bahasa Arab</h3>
          <p class="materi-deskripsi">Belajar Bahasa Arab</p>
        </div>
        <div class="materi-alharus">
          <img src="../img/coba.jpg" alt="fiqih" class="materi-fiqih-img">
          <h3 class="materi-judul" >Pelajaran Fiqih</h3>
          <p class="materi-deskripsi">Belajar Tentang tata cara beribadah</p>
        </div>
      </div>

     </section>
    <!-- Akhir Section Materi -->

    <!-- Awal Footer -->
     <footer>
      <div class="social">
        <a href="https://www.instagram.com/mdt_alharus"><i class="bi bi-instagram"></i></a>
        <a href="https://www.youtube.com/@mdtal-harusofficial8981"><i class="bi bi-youtube"></i></a>
        <a href="https://www.tiktok.com/madrasahalharus"><i class="bi bi-tiktok"></i></a>
      </div>

      <div class="links">
        <a href="index.html">Home</a>
        <a href="profil.html">Profil</a>
        <a href="mater.html">Materi</a>
        <a href="kegiatan.html">Kegiatan</a>
        <a href="infak.html">Infak</a>
      </div>
      <div class="credit">
        <p>Createrd By <a href="">Al-Harus</a>. | %copy; 2025.</p>
      </div>
     </footer>
    <!-- Akhir Footer -->

    <!-- Feather Icon -->
    <script>
      feather.replace();
    </script>
    <!-- JS -->
    <script src="../js/script.js"></script>
  </body>
</html>
